<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="https://15580083.qcloud.la/Public/css/style-swarovski-business.css">
    <script src="https://15580083.qcloud.la/Public/js/axios.min.js"></script>
    <script src="https://15580083.qcloud.la/Public/js/vue.min.js"></script>
    <title>List</title>
    <style type="text/css">
      .get-more {
        text-align: center;
        font-size: .7rem;
        height: 2rem;
        line-height: 2rem;
        color: #999;
      }
    </style>
  </head>
  <body>
    <div id="app" class="list-container">
      <header class="swarovski--header">
        <image @click="routerGoHome" src="http://ww2.sinaimg.cn/large/006tNbRwgy1ffgqghtp5aj301a019gld.jpg" class="left-icon"></image>
        <p class="title">Tom Kruger</p>
        <!--<image src="http://ww2.sinaimg.cn/large/006tNbRwgy1ffgqdcuxmsj301u0193y9.jpg" class="right-icon"></image>-->
        <span @click="logout" class="right-icon">注销</span>
      </header>
      <section class="list--tab">
        <span @click="showOrderList" class="tab--left-part_primary active">进行中</span>
        <span @click="showFinishedOrderList" class="tab--right-part_primary">已完成</span>
      </section>

      <section class="list-search--btn">
        <div @click="search" class="search--btn">搜索</div>
      </section>

      <!-- 用于循环 -->
      <section class="list--item" v-for="item in indexList" v-show="item.order[0].pickedup == showStatus">
        <header @click="routerGoOrder(item.order_id, item.uid)" class="item--header">
          <span class="header--left-part">{{item.order_id}}</span>
          <span class="header--right-part">{{item.nickname}}{{item.order[0].pickedup}}</span>
        </header>
        <div class="item--info">
          <span class="info--left-part"><span class="title">Created: </span><span class="content">{{item.order[0].start_time}}</span></span>
          <span class="info--right-part"><span class="title">items: </span><span class="content">{{item.order.length}}</span></span>
        </div>
        <p class="item--price">￥{{item.order[0].price}}</p>
        <div class="item--status">
          <div class="status--item_paid">
            <image v-if="item.order[0].paid == 0" class="item--icon" src="http://ww3.sinaimg.cn/large/006tKfTcgy1ffizt3nsq6j302i02igle.jpg"></image>
            <image v-if="item.order[0].paid == 1" class="item--icon" src="http://ww2.sinaimg.cn/large/006tKfTcgy1ffizqca8onj3050050mx3.jpg"></image>
            <p v-if="item.order[0].paid == 0" class="item--title">已支付</p>
            <p v-if="item.order[0].paid == 1" class="item--title">已支付</p>
          </div>
          <div class="status--item_bagged">
            <image v-if="item.order[0].bagged == 0" class="item--icon" src="http://ww1.sinaimg.cn/large/006tKfTcgy1ffizsmo6gkj302i02iwe9.jpg"></image>
            <image v-if="item.order[0].bagged == 1" class="item--icon" src="http://ww4.sinaimg.cn/large/006tKfTcgy1ffizs9iwbfj3050050745.jpg"></image>
            <p v-if="item.order[0].bagged == 0" class="item--title">未打包</p>
            <p v-if="item.order[0].bagged == 1" class="item--title">已打包</p>
          </div>
          <div class="status--item_shipped">
            <image v-if="item.order[0].pickedup == 0" class="item--icon" src="http://ww1.sinaimg.cn/large/006tKfTcgy1ffizsv479kj302i02i3ya.jpg"></image>
            <image v-if="item.order[0].pickedup == 1" class="item--icon" src="http://ww1.sinaimg.cn/large/006tKfTcgy1ffizrw655rj3050050a9y.jpg"></image>
            <p v-if="item.order[0].pickedup == 0" class="item--title">未提货</p>
            <p v-if="item.order[0].pickedup == 1" class="item--title">已提货</p>
          </div>
        </div>
      </section>
      <!--未完成-->
      <div v-if="currentPage < page && showStatus == 0" @click="showMore" class="get-more">
        点击查看更多
      </div>
      <div v-if="currentPage >= page && showStatus == 0" class="get-more">
        -- 已经到底啦 --
      </div> 
      <!--已完成-->
      <div v-if="finishedCurrentPage < finishedPage && showStatus == 1" @click="showMoreFinished" class="get-more">
        点击查看更多
      </div>
      <div v-if="finishedCurrentPage >= finishedPage && showStatus == 1" class="get-more">
        -- 已经到底啦 --
      </div>            
    </div>
  </body>
  <script src="https://15580083.qcloud.la/Public/js/jquery-2.1.1.min.js" charset="utf-8"></script>
  <script type="text/javascript">
  var domain = 'https://15580083.qcloud.la/';
  var vm = new Vue({
    el: '#app',
    data: function() {
      return {
        orderList: [],
        indexList: [],
        finishedOrderList: [],
        currentPage: 1,
        finishedCurrentPage: 1,
        page: 99,
        finishedPage: 99,
        showStatus: 0,
      }
    },
    mounted: function() {
      this.getOrderList()
    },
    methods: {
      getOrderList() {
        var _this = this
        axios.get(domain + 'V1/shop/order_list?currentPage=' + _this.currentPage)
          .then(function (response) {
            console.log(response.data.data)
            _this.orderList = response.data.data.orderList
            _this.page = response.data.data.page
            _this.indexList = _this.indexList.concat(_this.orderList)
          })
          .catch(function (error) {
            console.log(error);
          });
      },
      getFinishedOrderList() {
        var _this = this
        axios.get(domain + 'V1/shop/finished_order_list?currentPage=' + _this.finishedCurrentPage)
          .then(function (response) {
            console.log(response.data.data)
            _this.orderList = response.data.data.orderList
            _this.page = response.data.data.page
            _this.indexList = _this.indexList.concat(_this.orderList)
          })
          .catch(function (error) {
            console.log(error);
          });        
      },      
      showMore() {
        this.currentPage ++
        this.getOrderList()
      },
      showMoreFinished() {
        this.finishedCurrentPage ++
        this.getFinishedOrderList()
      },
      showOrderList() {
        $('.list--tab span').removeClass('active')
        $('.tab--left-part_primary').addClass('active')
        this.showStatus = 0
        this.currentPage = 1
        this.orderList = []
        this.indexList = []
        this.getOrderList()
      },
      showFinishedOrderList() {
        $('.list--tab span').removeClass('active')
        $('.tab--right-part_primary').addClass('active')
        this.showStatus = 1
        this.finishedCurrentPage = 1
        this.finishedOrderList = []
        this.indexList = []
        this.getFinishedOrderList()
      },
      search() {
        var _this = this
        var a = prompt('Search by mobile or order id')
        if (a == null) {
          return false;
        }
        axios.get(domain + 'V1/shop/likeSearch?string=' + a)
          .then(function (response) {
            console.log(response.data)
            _this.orderList = response.data.data
            _this.indexList = _this.orderList
          })
          .catch(function (error) {
            console.log(error);
          });
      },
      logout() {
        axios.get(domain + 'V1/shop/logout')
          .then(function (response) {
            if (response.data.data == 0) {
              window.location.href = 'https://15580083.qcloud.la/V1/shop/client_login'
            }
          })
          .catch(function (response) {

          })
      },
      routerGoHome() {
        window.location.href = 'https://15580083.qcloud.la/V1/shop/client_navPage'
      },
      routerGoOrder(order_id, uid) {
        window.location.href = 'https://15580083.qcloud.la/V1/shop/client_order?order_id=' + order_id + '&uid=' + uid
      },
      routerGoList() {
        window.location.href = 'https://15580083.qcloud.la/V1/shop/client_list'
      },
      routerGoInventory() {
        window.location.href = 'https://15580083.qcloud.la/V1/shop/client_inventory'
      },
      routerGoFAQs() {
        window.location.href = 'https://15580083.qcloud.la/V1/shop/client_FAQs'
      },
    }
  })
  </script>
</html>
